:root {
    --primary-color: #9C9FE5;       
    --secondary-color: #7c7fd9;     
    --background-light: #f8fafc;    
    --text-light: #ffffff;          
    --text-dark: #334155;          
    --border-color: #b0bcd0;        
    --card-bg: #ffffff;
    --stars-color: #ffd700;
    --cancel-button: #7a8aa2;
    --add-button: #4CAF50;
    --cancel-hover: #6c7c92;
    --add-hover: #66BB6A;
    --pag-hover: #c7c9fa; 
    --active-button: #585bd1;
    --linkes-colors: #4A4E69;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-dark);
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: column; /* Makes the Title at the top */
    padding: 15px;
    background-color: #f1f2fd;
    justify-content: space-between;
}

/* navbar-links */
.navbar-links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--linkes-colors);
    font-weight: 800;
    cursor: pointer;
    
}

.navbar-box {
    display: flex;
    gap: 15px;
}

/* navbar-auth */
.navbar-auth{
    display: flex;
    gap: 15px;
}

/* navbar-title */
.navbar-title {
    color: #4f52c8;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Search & Filters container */
.nav-content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 100%;
}

/* Search Box */
.search-box {
    flex-grow: 1;
    max-width: 300px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
}

/* Filters */
.filters {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
}

.filters select {
    
    padding: 8.5px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    width: 160px;
}

/* Layout: Product List (Left) & Form (Right) */
.container-list-form {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

/* Product List */
.product-list {
    width: 70%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;
    gap: 10px;
    margin: 10px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 200px;
    height: 460px;
    font-size: 12px;
}

.product-image {
    width: 200px;
    height: 250px;
}

.product-item .price {
    font-weight: bold;
    color: var(--secondary-color);
}

.rating {
    color: var(--stars-color);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating span {
    font-size: 14px;
    color: var(--text-dark);
}

/* Form on the Right Side */
.form-container {
    width: 30%;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 15px;
    border-radius: 8px;
    max-height: 600px;
    font-size: 14px;
    margin: 10px;
}

form label{
    display: block;
    block-size: 1;
    margin-top: 10px;
    font-weight:300;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    resize: none;
}

.card-button {
    width: 200px;
}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-light);
}

.button-group button {
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.add {
    background-color: var(--add-button);
}
.add:hover {
    background-color: var(--add-hover);
}

.cancel {
    background-color: var(--cancel-button);
}
.cancel:hover {
    background-color: var(--cancel-hover);
}

button:hover {
    background-color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;  
    align-items: center;
    position: fixed;
    bottom: ;
    margin-top: 100%;  
    padding: 10px;
}

.pagination-button {
    margin: 5px;
    padding: 8px 12px;
    background-color: var(--text-light);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: var(--pag-hover);
}

.pagination .active {
    background-color: var(--active-button);
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}